<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" style="clear: both">
    <footer id="footer" class="footer bg-white">
        <div class="footer-social">
            <div class="footer-container clearfix">
                <div class="social-list">
                    <a class="social weibo" target="blank" href="http://weibo.com/biezhi">微博</a>

                    <a class="social zhihu" target="blank"
                       href="https://www.zhihu.com/people/biezhi">知乎</a>

                    <a class="social rss" target="blank" href="/feed">RSS</a>

                    <a class="social github" target="blank"
                       href="https://github.com/biezhi">Github</a>

                    <a class="social twitter" target="blank" href="https://twitter.com/biezhii">Twitter</a>
                </div>
            </div>
        </div>
        <div class="footer-meta">
            <div class="footer-container">
                <div class="meta-item meta-copyright">
                    <div class="meta-copyright-info">
                        <a href="https://tale.biezhi.me" class="info-logo">
                            <img th:src="@{/public/logo.png}" alt="Tumo Blog">
                        </a>
                        <div class="info-text">
                            <p>银河街角，时光路口.</p>
                            <p>Powered by <a href="#" target="_blank" rel="nofollow">Tumo</a>
                            </p>
                            <p>&copy; 2018 <a href="#">TyCoding</a></p>
                        </div>
                    </div>
                </div>

                <div class="meta-item meta-posts">
                    <h3 class="meta-title">最新文章</h3>
                    <li v-for="item in entity.newArticle">
                        <a href="/" v-text="item.title"></a>
                    </li>
                </div>

                <div class="meta-item meta-comments">
                    <h3 class="meta-title">最新评论</h3>
                    <li v-for="item in entity.newComments">
                        <a href="/" v-text="item.author + ':  ' + item.content"></a>
                    </li>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>