<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 公共的CSS库 -->
<head th:include="/site/common/common_head :: commonHead"></head>

<title>Tumo Blog</title>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->

<!-- header -->
<div th:replace="site/header :: header"></div>
<!-- main -->
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">
            <div class="post-list-item" th:each="article : ${page.rows}">
                <div class="post-list-item-container">
                    <div class="item-thumb bg-deepgrey"
                         th:style="'background-image:url(' + ${article.titlePic} + ');'"></div>
                    <a th:href="'/article/' + ${article.id}">
                        <div class="item-desc">
                            <p th:utext="${#strings.abbreviate(article.content, 80)}"></p>
                        </div>
                    </a>
                    <div class="item-slant reverse-slant bg-deepgrey"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title">
                            <a th:href="'/article/' + ${article.id}" th:text="${article.title}"></a>
                        </div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-note"
                                 style="background: url(/public/bg-ico.png) no-repeat;background-size: 40px auto;"></div>
                            <div class="item-meta-cat">
                                <a th:href="'/category/' + ${article.category}" th:text="${article.category}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lists-navigator clearfix">
        <ol class="page-navigator">
            <li class="prev" th:if="${pageCode} gt '1'">
                <a th:href="'/page/' + ${pageCode < 1 ? pageCode : pageCode-1}">←</a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, page.total)}">
                <a th:style="${i == pageCode ? 'color: #eb5055;' : ''}" th:href="'/page/' + ${i}" th:text="${i}"></a>
            </li>
            <li class="next" th:if="${pageCode < page.total}">
                <a th:href="'/page/' + ${pageCode < page.total ? pageCode+1 : page.total}">→</a>
            </li>
        </ol>
    </div>
</div>
<!-- footer -->
<div th:replace="site/footer :: footer"></div>
<!-- 公共的JS库 -->
<div th:include="site/common/onload_js ::onloadJS"></div>
</body>
</html>
