<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="icon" th:href="@{/public/admin/favicon.png}" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/admin/css/login.css}">
    <link rel="stylesheet" th:href="@{/lib/font/icon/iconfont.css}">

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="app">
    <div v-if="true" id="login">
        <el-main id="main">
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="5">
                    <el-card class="login-card">
                        <div slot="header" class="header">
                            <span class="item">Login My Blog</span>
                        </div>
                        <div id="form">
                            <!-- 登录表单 -->
                            <el-form :model="login" status-icon ref="login">
                                <el-form-item prop="username"
                                              :rules="[{ required: true, message: '用户名不能为空'}]">
                                    <el-input prefix-icon="el-icon-ump-yonghu" v-model="login.username" placeholder="账号"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item prop="password"
                                              :rules="[{ required: true, message: '密码不能为空'}]">
                                    <el-input prefix-icon="el-icon-ump-mima" type="password"
                                              v-model="login.password" @keyup.enter.native="loginEnter('login')" placeholder="密码"
                                              auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-checkbox class="check" v-model="login.remember">记住我</el-checkbox>
                                </el-form-item>
                                <el-form-item>
                                    <el-button class="btn" type="primary" @click="submitForm('login')">登录
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" th:src="@{/lib/vue/vue-resource.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/login.js}"></script>
</html>