<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 公共的CSS库 -->
<head th:include="/site/common/common_head :: commonHead"></head>
<title>关于 - Tumo Blog</title>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->

<!-- header -->
<div th:replace="site/header :: header"></div>

<link rel="stylesheet" th:href="@{/site/css/about.css}"/>

<!-- main -->
<div id="main">
    <article role="pge-title-content" class="main-content page-page" itemscope itemtype="http://schema.org/Article">
        <header>
            <h2><span>Hi! </span> My name is TyCoding.</h2>
        </header>
        <label>I’m a Java Developer with an enduring interest in Coding and Write Blog.</label>
        <br/>
        <br/>
        <h1>About</h1>
        <p style="margin-bottom: 10px;">Hi! 你好，我是TyCoding, 专注Java开发， 喜欢代码艺术， 关注新技术</p>
        <p>喜欢运动， 音乐</p>
        <br/>
        <br/>
        <h1>Works</h1>
        <ul>
            <li><a href="https://github.com/TyCoding/tumo">Tumo Blog:</a> 炒鸡漂亮的Java博客系统，基于SpringBoot-2.x实现</li>
            <li><a href="https://github.com/TyCoding/springboot-seckill">springboot-seckill:</a>基于SpringBoot-2.x的Java高并发Seckill秒杀系统实现</li>
            <li><a href="https://github.com/TyCoding/springboot">springboot:</a> SpringBoot-2.x入门开发</li>
            <li><a href="https://github.com/TyCoding/ssm-redis-solr">ssm-redis-solr:</a>
                基于SSM、Shiro、Redis、Solr框架简单实现电商项目中搜索功能
            </li>
            <li><a href="https://github.com/TyCoding/ssm">ssm:</a> Spring、SpringMVC、Mybatis框架整合开发</li>
        </ul>
        <br/>
        <br/>
        <h1>Concat</h1>
        <img th:src="@{../../../site/img/qq.png}">
    </article>
    <br/>
    <br/>
    <br/>
</div>

<!-- footer -->
<div th:replace="site/footer :: footer"></div>
<!-- 公共的JS库 -->
<div th:include="site/common/onload_js ::onloadJS"></div>
</body>
</html>