<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archives - Tumo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" th:href="@{/site/images/favicon.png}">
    <link rel="stylesheet" data-th-href="@{/site/css/style.min.css}"/>
</head>
<body class="bg-grey">
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img th:src="@{/site/images/logo.png}" alt="Tumo">
        </a>
        <div class="navbar-menu">
            <a class="current" href="/archives">Archives</a>
            <a href="/links">Links</a>
            <a href="/about">About</a>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a class="current" href="/archives">Archives</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="main-content archive-page clearfix">
    <div class="categorys-item">
        <span th:each="c : ${list}">
            <div class="categorys-title">[[${c.date}]]</div>
            <div class="post-lists">
                <div class="post-lists-body">
                    <div class="post-list-item" th:each="a : ${c.articles}">
                        <div class="post-list-item-container">
                            <div class="item-label">
                                <div class="item-title">
                                    <a th:href="'/article/' + ${a.id}" th:text="${a.title}"></a>
                                </div>
                                <div class="item-meta clearfix">
                                    <div class="item-meta-date">[[${a.publishTime}]]</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </span>
    </div>
</div>

<div th:replace="site/layout/footer"></div>
</body>
</html>
