<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 公共的CSS库 -->
<head th:include="/site/common/common_head :: commonHead"></head>
<title>关于 - Tumo Blog</title>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">

<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->

<!-- header -->
<div th:replace="site/header :: header"></div>

<div id="app">
    <article class="main-content page-page">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline">友情链接</h1>
            <div class="post-data">
                <time datetime="2017-09-17" itemprop="datePublished">发布于 2018-11-05</time>
            </div>
        </div>
        <div id="post-content" class="post-content"><h2>友情链接</h2>
            <ul>
                <li><a href="https://dev-cheats.com" target="_blank">TyCoding's Blog</a></li>
            </ul>
            <h2>链接须知</h2>
            <blockquote>
                <p>请确定贵站可以稳定运营
                    原创博客优先，技术类博客优先，设计、视觉类博客优先
                    经常过来访问和评论，眼熟的</p>
            </blockquote>
            <h2>基本信息</h2>
            <ul>
                <li>网站名称：Tumo博客</li>
                <li>网站地址：http://tumo.tycoding.cn</li>
            </ul>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </article>

    <!-- footer -->
    <div th:replace="site/footer :: footer"></div>
</div>
<!-- 公共的JS库 -->
<div th:include="site/common/onload_js ::onloadJS"></div>
</body>
</html>