<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" th:href="@{/public/favicon.png}" type="image/png">
    <link rel="apple-touch-icon" th:href="@{/public/favicon.png}"/>
    <title>关于 - Tumo Blog</title>
    <link rel="icon" th:href="@{../../public/favicon-icon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{../../../site/css/index.css}">

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">

<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->

<!-- header -->
<div th:replace="site/header :: header"></div>

<div id="app">
    <article class="main-content page-page">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline">友情链接</h1>
            <div class="post-data">
                <time datetime="2017-09-17" itemprop="datePublished">发布于 2018-11-05</time>
            </div>
        </div>
        <div id="post-content" class="post-content"><h2>友情链接</h2>
            <ul>
                <li><a href="https://dev-cheats.com" target="_blank">TyCoding's Blog</a></li>
            </ul>
            <h2>链接须知</h2>
            <blockquote>
                <p>请确定贵站可以稳定运营
                    原创博客优先，技术类博客优先，设计、视觉类博客优先
                    经常过来访问和评论，眼熟的</p>
            </blockquote>
            <h2>基本信息</h2>
            <ul>
                <li>网站名称：Tumo博客</li>
                <li>网站地址：http://tumo.tycoding.cn</li>
            </ul>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </article>

    <!-- footer -->
    <div th:replace="site/footer :: footer"></div>
</div>

</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.7/index.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/headroom/0.9.4/headroom.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script type="text/javascript" th:src="@{../../site/js/link.js}"></script>
<script type="text/javascript">
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key === 13) {
            var q = $(this).val();
            if (q && q !== '') {
                window.location.href = '/search/' + q;
            }
        }
    });
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js"></script>
</html>