article[role="pge-title-content"] {
    padding-left: 41px;
}



article[role="pge-title-content"] header, article[role="pge-title-content"] header {
    padding-bottom: 19px;
    /*padding-top: 83px;*/
}

article[role="pge-title-content"] header h2, main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 {
    font-size: 46px;
    line-height: 53px;
    color: #404040;
    font-weight: 800;
}

article[role="pge-title-content"] header .hello{
    font-size: 46px;
    line-height: 53px;
    color: #404040;
    font-weight: 800;
    margin-top: 30px;
}

article[role="pge-title-content"] header .hello span{
    display: block;
    font-size: 80px;
    color: #fb5353;
    padding-bottom: 15px;
}

article[role="pge-title-content"] header h2 span, article[role="pge-title-content"] header h2 span {
    display: block;
    font-size: 80px;
    color: #fb5353;
    padding-bottom: 15px;
}

article[role="pge-title-content"] label, article[role="pge-title-content"] label {
    font-size: 20px;
    line-height: 30px;
    color: #454545;
}

article[role="pge-title-content"] ul li {
    font-size: 16px;
    line-height: 30px;
    color: #454545;
    margin-left: 18px;
}

article[role="pge-title-content"] ul li a {
    color: #00a8c6;
}

article[role="pge-title-content"] img {
    margin-left: -21px;
}

.el-menu--horizontal .el-menu [role="8-2"] a {
    color: #409EFF;
}

.el-submenu[role="8"] .el-submenu__title {
    color: #409EFF;
}
.el-submenu[role="8"] .el-submenu__title:hover {
    color: #409EFF;
}
