#app{
    margin-top: 10em !important;
}
.archive-index{
    margin: 0 22.9% !important;
}
.archive-container{
    width: 100% !important;
    margin-bottom: 19px !important;
    margin-top: 0 !important;
}
.Card-archive{
    display: inline-block !important;
    width: 299.999px;
    height: 127px;
    margin: 0 23px 35px 23px;
    padding: 0 12px;
}
.Card-archive .Card-title{
    margin-bottom: 20px !important;
    margin-top: 27px !important;
    height: 35px !important;
    max-height: 35px !important;
}
.Card-archive .Card-meta ul{
    margin-left: 0 !important;
}
.Card-archive .Card-meta li{
    margin-left: 0 !important;
}
.Card-archive{
    border-radius: 0;
}
