<aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <section class="site-overview sidebar-panel sidebar-panel-active">
            <div class="site-overview">
                <div class="sidebar-sticky sticky">
                    <div>
                        <div class="author__avatar">
                            <img itemprop="image" src="https://tycoding.cn/images/avatar.jpg" alt="TyCoding">
                        </div>
                        <div class="author__content">
                            <h3 class="author__name" itemprop="name">TyCoding</h3>
                            <p class="author__bio" itemprop="description">Life is short, just coding</p>
                        </div>

                        <div class="author__urls-wrapper">
                            <button class="btn btn--inverse">Follow</button>
                            <ul class="author__urls social-icons">
                                <li>
                                    <a href="https://github.com/TyCoding" target="_blank" title="GitHub">GitHub</a>
                                </li>
                                <li>
                                    <a href="https://github.com/TyCoding/tumo" target="_blank" title="Tumo">Tumo</a>
                                </li>
                                <li>
                                    <a href="https://github.com/TyCoding/cloud-template" target="_blank"
                                       title="SpringCloud">SpringCloud</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</aside>
