<footer class="footer">
    <div class="footer-inner">
        <div class="copyright" style="display: inline-block">&copy; 2017 &mdash; <span
                itemprop="copyrightYear">2020</span>
            <span class="author">TyCoding</span>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://github.com/TyCoding" target="_blank">Github</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://tycoding.cn/" target="_blank">Blog</a>
        </div>
    </div>
</footer>
