<div class="page-loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<header id="header" class="header">
    <div class="header-inner">
        <div class="site-brand-wrapper">
            <div class="site-meta ">
                <div class="custom-logo-site-title">
                    <a href="/" class="brand">
                        <span class="logo-line-before"><i></i></span>
                        <span class="site-title"
                              style="font-family:Merienda;font-size:1.3rem">Tumo Blog</span>
                        <span class="logo-line-after"><i></i></span>
                    </a>
                </div>
            </div>
            <div class="site-nav-toggle" onclick="openBar()">
                <button>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                    <span class="btn-bar"></span>
                </button>
            </div>
        </div>

        <nav class="site-nav">
            <ul id="menu" class="menu">
                <li class="menu-item menu-item-home">
                    <a href="/" rel="section">
                        HOME
                    </a>
                </li>
                <li class="menu-item menu-item-about">
                    <a href="/about/" rel="section">
                        ABOUT
                    </a>
                </li>
                <li class="menu-item menu-item-links">
                    <a href="/links/" rel="section">
                        LINKS
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
