<div class="content-wrap">
    <div id="content" class="content">
        <section id="posts" class="posts-expand">
            <article class="post post-type-normal">
                <header class="post-header">
                    <h1 class="post-title">About</h1>
                </header>

                <div class="post-body">
                    <h2>本人</h2>
                    <p>如你所见</p>
                    <p>技术很菜</p>
                    <p>希望有一天</p>
                    <p>能改变这种现吧！</p>
                    <p>至此</p>
                    <p>加油！</p>
                    <div align="center">
                        <a href="https://tycoding.cn/cdn/qrcode_for_gh.jpg" class="fancybox fancybox.image animsition-link" rel="group"><img src="https://tycoding.cn/cdn/qrcode_for_gh.jpg"></a>
                        <div style="font-size: 14px;font-weight: bold;">
                            公众号：程序员涂陌
                        </div>
                    </div>
                    <h1 id="交流"><a href="#交流" class="headerlink animsition-link" title="交流"></a>交流</h1>
                    <p>QQGroup：671017003   </p>
                    <p>WeChatGroup:  关注公众号查看</p>
                    <h1 id="联系"><a href="#联系" class="headerlink animsition-link" title="联系"></a>联系</h1>
                    <ul>
                        <li><a href="http://www.tycoding.cn" class="animsition-link">Blog@TyCoding’s blog</a></li>
                        <li><a href="https://github.com/TyCoding" target="_blank" rel="noopener" class="animsition-link">GitHub@TyCoding</a></li>
                        <li><a href="https://www.zhihu.com/people/tomo-83-82/activities" target="_blank" rel="noopener" class="animsition-link">ZhiHu@TyCoding</a></li>
                    </ul>
                </div>
                <footer class="post-footer">
                    <div class="post-eof"></div>
                </footer>
            </article>
            <hr/>

        </section>
    </div>
</div>
