body{
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
.app-main {
    /*50 = navbar  */
    min-height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
}
h2,h3{
    color: #443d3d
}
.page-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    z-index: 999999999;
    align-items: center;
    justify-content: center;
    display: flex;
}
.page-loader__spinner {
    position: relative;
    width: 50px;
    height: 50px;
}
.page-loader__spinner svg {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.page-loader__spinner svg circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    100%,
    0% {
        stroke: #ff5652;
    }
    40% {
        stroke: #2196F3;
    }
    66% {
        stroke: #32c787;
    }
    80%,
    90% {
        stroke: #ffc107;
    }
}
.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity .28s;
    transition: opacity .28s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.fade-transform-enter-active,
.fade-transform-leave-active {
    -webkit-transition: all .5s;
    transition: all .5s
}

.fade-transform-enter {
    -webkit-transform: translateX(-30px);
    opacity: 0;
    transform: translateX(-30px)
}

.fade-transform-leave-to {
    -webkit-transform: translateX(30px);
    opacity: 0;
    transform: translateX(30px)
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
    -webkit-transition: all .5s;
    transition: all .5s
}

.breadcrumb-enter,
.breadcrumb-leave-active {
    -webkit-transform: translateX(20px);
    opacity: 0;
    transform: translateX(20px)
}

.breadcrumb-move {
    -webkit-transition: all .5s;
    transition: all .5s
}

.breadcrumb-leave-active {
    position: absolute
}

.el-upload input[type=file] {
    display: none !important
}

.el-upload__input {
    display: none
}

.el-dialog {
    -webkit-transform: none;
    left: 0;
    margin: 0 auto;
    position: relative;
    transform: none
}

.upload-container .el-upload {
    width: 100%
}

.upload-container .el-upload .el-upload-dragger {
    height: 200px;
    width: 100%
}

#app .main-container {
    -webkit-transition: margin-left .28s;
    margin-left: 180px;
    min-height: 100%;
    position: relative;
    transition: margin-left .28s
}

#app .sidebar-container {
    -webkit-transition: width .28s;
    bottom: 0;
    font-size: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: width .28s;
    width: 180px !important;
    z-index: 1001
}

#app .sidebar-container .horizontal-collapse-transition {
    -webkit-transition: width 0s ease-in-out, padding-left 0s ease-in-out, padding-right 0s ease-in-out;
    transition: width 0s ease-in-out, padding-left 0s ease-in-out, padding-right 0s ease-in-out
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
    right: 0
}

#app .sidebar-container .scrollbar-wrapper {
    overflow-x: hidden !important
}

#app .sidebar-container .scrollbar-wrapper .el-scrollbar__view {
    height: 100%
}

#app .sidebar-container .is-horizontal {
    display: none
}

#app .sidebar-container a {
    display: inline-block;
    overflow: hidden;
    width: 100%
}

#app .sidebar-container .svg-icon {
    margin-right: 16px
}

#app .sidebar-container .el-menu {
    border: none;
    height: 100%;
    width: 100% !important
}

#app .hideSidebar .sidebar-container {
    width: 55px !important
}

#app .hideSidebar .main-container {
    margin-left: 55px
}

#app .hideSidebar .submenu-title-noDropdown {
    padding-left: 10px !important;
    position: relative
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
    padding: 0 10px !important
}

#app .hideSidebar .el-submenu {
    overflow: hidden
}

#app .hideSidebar .el-submenu>.el-submenu__title {
    padding-left: 10px !important
}

#app .hideSidebar .el-submenu>.el-submenu__title .el-submenu__icon-arrow {
    display: none
}

#app .hideSidebar .el-menu--collapse .el-submenu>.el-submenu__title>span {
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

#app .sidebar-container .el-submenu .el-menu-item,
#app .sidebar-container .nest-menu .el-submenu>.el-submenu__title {
    background-color: #1f2d3d !important;
    min-width: 180px !important
}

#app .sidebar-container .el-submenu .el-menu-item:hover,
#app .sidebar-container .nest-menu .el-submenu>.el-submenu__title:hover {
    background-color: #001528 !important
}

#app .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important
}

#app .mobile .main-container {
    margin-left: 0
}

#app .mobile .sidebar-container {
    -webkit-transition: -webkit-transform .28s;
    transition: -webkit-transform .28s;
    transition: transform .28s;
    transition: transform .28s, -webkit-transform .28s;
    width: 180px !important
}

#app .mobile.hideSidebar .sidebar-container {
    -webkit-transform: translate3d(-180px, 0, 0);
    -webkit-transition-duration: .3s;
    transform: translate3d(-180px, 0, 0);
    transition-duration: .3s
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
    -webkit-transition: none;
    transition: none
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    height: 100%;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    width: 100%;
}

label {
    font-weight: 700
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#app,
html {
    height: 100%
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a,
a:active,
a:focus,
a:hover,
div:focus {
    outline: none
}

a,
a:focus,
a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.app-main {
    min-height: 100%
}

.el-header{
    padding:0;
}

.app-container {
    padding: 20px
}

.app-breadcrumb.el-breadcrumb {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    margin-left: 10px
}

.app-breadcrumb.el-breadcrumb .no-redirect {
    color: #97a8be;
    cursor: text
}

.hamburger {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: .38s;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    transition: .38s;
    width: 20px
}

.hamburger.is-active {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.navbar {
    border-radius: 0 !important;
    height: 50px !important;
    line-height: 50px
}

.el-menu-item:focus, .el-menu-item:hover{
    background-color: rgb(38, 52, 69) !important;
}

.navbar .hamburger-container {
    float: left;
    height: 50px;
    line-height: 58px;
    padding: 0 10px
}

.navbar .screenfull {
    color: red;
    position: absolute;
    right: 90px;
    top: 16px
}

.navbar .avatar-container {
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 35px
}

.navbar .avatar-container .avatar-wrapper {
    cursor: pointer;
    margin-top: 5px;
    position: relative
}

.navbar .avatar-container .avatar-wrapper .user-avatar {
    border-radius: 10px;
    height: 40px;
    width: 40px
}

.navbar .avatar-container .avatar-wrapper .el-icon-caret-bottom {
    font-size: 12px;
    position: absolute;
    right: -20px;
    top: 25px
}

.app-main {
    min-height: calc(100vh - 50px);
    overflow: hidden;
    position: relative
}

.app-wrapper {
    height: 100%;
    position: relative;
    width: 100%
}

.app-wrapper:after {
    clear: both;
    content: "";
    display: table
}

.app-wrapper.mobile.openSidebar {
    position: fixed;
    top: 0
}

.drawer-bg {
    background: #000;
    height: 100%;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999
}

.svg-icon {
    fill: currentColor;
    height: 1em;
    overflow: hidden;
    vertical-align: -.15em;
    width: 1em
}
