<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="dns-prefetch" href="http://cdn.bootcss.com" />
<link rel="dns-prefetch" href="http://secure.gravatar.com" />
<link rel="shortcut icon" data-th-href="@{/site/images/favicon.png}">
<link rel="apple-touch-icon" data-th-href="@{/site/images/apple-touch-icon.png}">
<meta name="description" content="银河街角，时光路口" />
<link href="http://cdn.bootcss.com/highlight.js/9.10.0/styles/atom-one-dark.min.css" rel="stylesheet">
<link rel="stylesheet" data-th-href="@{/site/style.min.css}">
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script data-th-src="@{/site/js/comments.js}"></script>