<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head"></head>
<title>评论管理</title>
<link rel="stylesheet" th:href="@{/admin/css/comments.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="admin/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="admin/common/header"></div>

            <!-- main -->
            <el-main class="app-main">
                <el-card>
                    <h3>评论管理页</h3>
                    <!-- 功能按钮 -->
                    <el-row :gutter="20">
                        <el-col :xs="12" :sm="12" :lg="6" :span="6" style="display: flex">
                            <el-input placeholder="请输入留言人姓名查询" size="small" v-model="searchEntity.name" @keyup.native="search(pageConf.pageCode, pageConf.pageSize)">
                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                            </el-input>
                            <el-button @click="search(pageConf.pageCode, pageConf.pageSize)" plain size="small" style="margin-left:12px;" icon="el-icon-search"></el-button>
                        </el-col>
                    </el-row>
                    <br/>
                    <!-- 列表 -->
                    <el-table ref="comments" :data="comments" border tooltip-effect="dark" style="width: 100%">
                        <el-table-column prop="id" sortable label="编号" show-overflow-tooltip width="80"></el-table-column>
                        <el-table-column align="center" prop="content" label="留言内容" width="180" show-overflow-tooltip></el-table-column>
                        <el-table-column align="center" prop="articleTitle" label="文章标题" width="180" show-overflow-tooltip></el-table-column>
                        <el-table-column align="center" show-overflow-tooltip label="类型" width="100">
                            <template slot-scope="scope">
                                <el-tag>{{scope.row.type == 0 ? 'Article' : scope.row.type == 1 ? 'Link' : 'About'}}</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" prop="name" show-overflow-tooltip label="留言人" width="100"></el-table-column>
                        <el-table-column align="center" prop="cName" show-overflow-tooltip label="给谁留言" width="100"></el-table-column>
                        <el-table-column align="center" prop="time" show-overflow-tooltip label="留言时间" width="170"></el-table-column>
                        <el-table-column align="center" prop="ip" show-overflow-tooltip label="IP" width="170"></el-table-column>
                        <el-table-column align="center" prop="device" show-overflow-tooltip label="设备信息" width="170"></el-table-column>
                        <el-table-column align="center" prop="address" show-overflow-tooltip label="地址" width="170"></el-table-column>
                        <el-table-column align="center" prop="email" show-overflow-tooltip label="Email" width="150"></el-table-column>
                        <el-table-column align="center" prop="url" label="Link" show-overflow-tooltip width="150"></el-table-column>
                        <el-table-column label="操作" align="center" width="200">
                            <template slot-scope="scope">
                                <el-button icon="el-icon-delete" size="mini" type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
                                <a :href="'/article/' + scope.row.id" target="_blank">
                                    <el-button size="mini" icon="el-icon-edit" type="warning">查看</el-button>
                                </a>
                            </template>
                        </el-table-column>
                    </el-table>
                    <br/>
                    <!-- 分页 -->
                    <div class="pagination">
                        <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                       :current-page="pageConf.pageCode"
                                       :page-sizes="pageConf.pageOption"
                                       :page-size="pageConf.pageSize"
                                       layout="total, sizes, prev, pager, next, jumper"
                                       :total="pageConf.totalPage">
                        </el-pagination>
                    </div>
                    <br/>
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<div th:replace="admin/common/js"></div>
<script type="text/javascript" th:src="@{/admin/js/comments.js}"></script>
</html>
