<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>系统设置</title>
    <link rel="icon" th:href="@{/public/admin/favicon.png}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.7/theme-chalk/index.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/public/admin/base.css}">
    <link rel="stylesheet" th:href="@{/admin/css/setting.css}">

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- vue入口 -->
<div id="app">
    <!-- 布局容器 -->
    <div class="pull-height">
        <!-- aside -->
        <div th:replace="admin/side :: side"></div>

        <!-- container -->
        <el-container id="main" :class="{main_close:config.isCollapse}">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="admin/header :: header"></div>

            <!-- main -->
            <el-main>
                <el-card>
                    <h2>系统设置</h2>
                    <div>
                        <!--<el-row :gutter="40">
                            <el-col :span="12">
                                <el-card class="card-category">
                                    <div slot="header">
                                        <span>全局设置</span>
                                    </div>
                                    <div>
                                        <el-form label-width="80px">
                                            <el-form-item required prop="old_password" :rules="[{ required: true, message: '请输入站点名称'}]" label="账号">
                                                <el-input placeholder="请输入站点名称"></el-input>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button type="primary" style="float:right;">保存设置</el-button>
                                            </el-form-item>
                                        </el-form>
                                    </div>
                                </el-card>
                            </el-col>
                            <el-col :span="12">
                                <el-card class="card-tags">
                                    <div slot="header">
                                        <span>个性化设置</span>
                                    </div>
                                    <div>
                                        <el-form label-width="100px">
                                            <el-form-item required prop="zhihu" :rules="[{ required: true, message: '请输入知乎账号'}]" label="输入旧密码">
                                                <el-input placeholder="请输入知乎账号"></el-input>
                                            </el-form-item>
                                            <el-form-item required prop="github" :rules="[{ required: true, message: '请输入Github账号'}]" label="输入新密码">
                                                <el-input placeholder="请输入Github账号"></el-input>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button type="danger" style="float:right;">保存设置</el-button>
                                            </el-form-item>
                                        </el-form>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>-->

                        <el-row :gutter="40">
                            <el-col :span="18">
                                <el-card class="card-category">
                                    <div slot="header">
                                        <span>全局设置</span>
                                    </div>
                                    <div>
                                        <h3>该模块暂未开发</h3>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.7/index.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/headroom/0.9.4/headroom.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script type="text/javascript" th:src="@{/admin/js/setting.js}"></script>
<script type="text/javascript">
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
</script>
<script data-no-instant type="text/javascript">
    InstantClick.on('change', function (isInitialLoad) {
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/2448a7bd/cloudflare-static/rocket-loader.min.js"></script>

</html>