<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" th:href="@{/public/favicon.png}" type="image/png">
    <link rel="apple-touch-icon" th:href="@{/public/favicon.png}"/>
    <title>404 找不到 -- Tumo Blog</title>
    <link rel="stylesheet" th:href="@{/plugins/css/default.min.css}"/>
    <link rel="stylesheet" th:href="@{../../../site/css/index.css}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <script th:inline="javascript" th:src="@{/plugins/js/highlight.min.js}"></script>
    <script th:inline="javascript" th:src="@{/plugins/js/instantclick.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/public/error.css}">
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">

<!-- header -->
<div th:replace="site/header :: header"></div>

<div style="flex: 1;text-align: center">
    <div class="article" style="margin-top: 11%;margin-bottom: 4%;">
        <div class="article-content">
            <blockquote>
                <img th:src="@{/plugins/images/404.gif}" alt="404" width="500" height="400">
                <footer>
                    <strong>Collect UI</strong>
                    <cite><a href="https://medium.com/@CollectUI/404-page-design-inspiration-march-2017-f6d9f7efd054">404
                        Page Design Inspiration</a></cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>

<!-- footer -->
<div id="app">
    <div th:replace="site/footer :: footer"></div>
</div>

</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script>
<script type="text/javascript" th:src="@{/lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{/lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{/site/js/about.js}"></script>
<script type="text/javascript" th:src="@{https://npmcdn.com/headroom.js@0.9.4/dist/headroom.js}"></script>
<script type="text/javascript">
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset : 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key === 13) {
            var q = $(this).val();
            if (q && q !== '') {
                window.location.href = '/search/' + q;
            }
        }
    });
</script>
</html>
