<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 公共的CSS库 -->
<head th:include="/site/common/common_head :: commonHead"></head>

<title>404 找不到 | Tumo Blog</title>
<link rel="stylesheet" th:href="@{/public/error.css}">

<body style="display: flex; flex-direction: column; min-height: 100vh;">
<!-- header -->
<div th:replace="site/header :: header"></div>
<div style="flex: 1;text-align: center">
    <div class="article" style="margin-top: 11%;margin-bottom: 4%;">
        <div class="article-content">
            <div>
                <img th:src="@{/plugins/images/404.gif}" alt="404" width="500" height="400">
                <footer>
                    <strong>Collect UI</strong>
                    <cite><a href="https://medium.com/@CollectUI/404-page-design-inspiration-march-2017-f6d9f7efd054">404
                        Page Design Inspiration</a></cite>
                </footer>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="site/footer :: footer"></div>
<!-- 公共的JS库 -->
<div th:include="site/common/onload_js ::onloadJS"></div>
</body>
</html>
