<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/js/bower_components/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/css/app.min.css">
</head>

<body data-ma-theme="green">
<section class="error">
    <div class="error__inner">
        <h1>500</h1>
        <h2>服务器内部错误，请联系管理员</h2>
        <p>Server internal error, please contact the administrator to resolve, or try again later.</p>
        <br/>
        <a href="/" class="btn btn-primary mb-1 waves-effect btn-lg">返回首页</a>
    </div>
</section>
</body>
</html>
