<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.admin.mapper.CommentsMapper">

    <!-- 查询所有评论信息列表 -->
    <select id="findCommentsList" resultType="Comments">
        SELECT * FROM tb_comments WHERE 1=1
        <if test="articleId != 0">
            AND article_id = #{articleId}
        </if>
        AND type = #{sort}
    </select>

    <!-- 查询所有父级文章留言信息 -->
    <select id="findAllId" resultType="Comments">
        SELECT * FROM tb_comments WHERE p_id = 0 AND c_id = 0
        <if test="articleId != 0">
            AND article_id = #{articleId}
        </if>
        AND type = #{sort}
    </select>

</mapper>
