<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.admin.mapper.UserMapper">

    <!-- 条件查询 -->
    <select id="findByPage" parameterType="User" resultType="User">
        SELECT * FROM tb_user
        <!--WHERE 1=1-->
        <!--<if test="author != null">-->
        <!--AND author LIKE CONCAT('%', #{author}, '%')-->
        <!--</if>-->
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" parameterType="Long" resultType="User">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>

    <!-- 保存 -->
    <insert id="save" parameterType="User">
        INSERT INTO
        tb_user(
          username,
          nickname,
          password,
          salt,
          email
        )
        VALUES(
          #{username},
          #{nickname},
          #{password},
          #{salt},
          #{email}
        )
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="User">
        UPDATE ignore tb_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>

    <!-- 根据用户名查询 -->
    <select id="findByName" resultType="User">
        SELECT * FROM tb_user WHERE username = #{username}
    </select>
</mapper>