<el-dialog title="添加/修改" :visible.sync="dialogVisible" width="70%" :before-close="handleClose" :close-on-press-escape="false" :close-on-click-modal="false">
    <el-form ref="form" :model="form" :rules="rulesForm" label-width="80px">
        <el-form-item label="文章标题" prop="title">
            <el-input v-model="form.title" placeholder="请输入文章标题"></el-input>
        </el-form-item>
        <div class="row">
            <div class="col-md-5">
                <el-form-item label="文章分类" prop="category">
                    <el-select v-model="form.category" value-key="id" placeholder="请选择文章分类" style="width: 100%">
                        <el-option
                                v-for="item in categoryList"
                                :key="item.id"
                                :label="item.name"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>
            </div>
            <div class="col-md-7">
                <el-form-item label="文章标签" prop="tags">
                    <el-select v-model="form.tags" value-key="id" multiple placeholder="请选择文章标签" style="width: 100%">
                        <el-option
                                v-for="item in tagList"
                                :key="item.id"
                                :label="item.name"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>
            </div>
        </div>
        <el-form-item label="文章描述">
            <div class="row">
                <div class="col-md-12">
                    <div id="article-des-container"></div>
                </div>
            </div>
        </el-form-item>
        <el-form-item label="文章内容">
            <div class="row">
                <div class="col-md-12">
                    <div id="article-container"></div>
                </div>
            </div>
        </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">取 消</el-button>
        <el-button type="primary" @click="handleSubmit('form')">更 新</el-button>
    </span>
</el-dialog>
