.time {
    font-size: 13px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.image {
    width: 100%;
    display: block;
    max-height: 285px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.el-upload--picture-card {
    border: none !important;
}

.el-upload-dragger {
    line-height: normal !important;
    height: 148px !important;
    width: 350px !important;
}