/*main-begin*/
#cards span {
    display: block;
    color: #fff;
    margin-left: 30px;
}

.icon {
    font-size: 45px;
}

.num {
    font-size: 30px;
}

#cards [role="1"] {
    background: #1E9FFF;
    display: inline-block;
    width: 24%;
    height: 135px;
    margin: 0 5px 0 0;
}

#cards [role="2"] {
    background: #FF5722;
    display: inline-block;
    width: 24%;
    height: 135px;
    margin: 0 5px;
}

#cards [role="3"] {
    background: #009688;
    display: inline-block;
    width: 24%;
    height: 135px;
    margin: 0 6px;
}

#cards [role="4"] {
    background: #2F4056;
    display: inline-block;
    width: 24%;
    height: 135px;
    margin: 0 6px;
}

.font {
    font-size: 15px !important;
}

.lists .articles > div {
    width: 370px;
    line-height: 2.7;
    text-align: left;
    display: block;

    background: #fff;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 4px;
    max-width: 370px;
    min-width: 370px;
}

.lists .articles > div > a {
    color: #409EFF;
}

.lists .articles > div{

}

.lists .comments > div {
    display: inline-block;
    line-height: 1;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 4px;
    max-width: 370px;
    min-width: 370px;
}

.lists .comments > div > a {
    color: #409EFE;
    line-height: 1.6;
    cursor: pointer;
}

/*main-end*/