/*main-begin*/
.articles{
    border: 1px solid #ebeef5;
}
#cards span {
    display: block;
    color: #fff;
    margin-left: 30px;
}

.icon {
    font-size: 45px;
}

.num {
    font-size: 30px;
}

#cards .el-card__body{
    display: flex;
    justify-content: space-between;
}

#cards [role="1"] {
    background: #1E9FFF;
    height: 135px;
}

#cards [role="2"] {
    background: #FF5722;
    height: 135px;
}

#cards [role="3"] {
    background: #009688;
    height: 135px;
}

#cards [role="4"] {
    background: #2F4056;
    height: 135px;
}

.font {
    font-size: 15px !important;
}

.lists .articles > div {
    border-bottom: 1px solid #ebeef5;
    line-height: 2.7;
    text-align: left;
    display: block;

    background: #fff;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.lists .articles > div > a {
    color: #409EFF;
}

.lists .articles > div{

}

.comments{
    border: 1px solid #ebeef5;
}

.lists .comments > div {
    border-bottom: 1px solid #ebeef5;
    text-align: left;
    display: block;
    background: #fff;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.lists .comments > div > a {
    color: #409EFE;
    line-height: 1.6;
    cursor: pointer;
}
blockquote {
    padding: 11px 15px;
    color: #666;
    border-left: 4px solid #ddd;
    margin: 0;
    height: 42px;
    background-color: #efeef5;
}
/*main-end*/
