html {
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
#app{
    height: 100vh;
}
.page-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    z-index: 999999999;
    align-items: center;
    justify-content: center;
    display: flex;
}
.page-loader__spinner {
    position: relative;
    width: 50px;
    height: 50px;
}
.page-loader__spinner svg {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.page-loader__spinner svg circle {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    100%,
    0% {
        stroke: #ff5652;
    }
    40% {
        stroke: #2196F3;
    }
    66% {
        stroke: #32c787;
    }
    80%,
    90% {
        stroke: #ffc107;
    }
}
body {
    margin: 0;
    width: 100%;
}

::selection {
    background-color: #eb5055 !important;
}

#login {
    background: url("../img/bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#main {
    font-family: Helvetica, sans-serif;
    margin-top: 8%;
    text-align: center;
}

.header {
    padding: 24px 20px;
}
.login-card > .el-card__header {
    background: url("../img/header.png");
    font-size: 15px;
    margin-bottom: 25px;
}

.el-card{
    border: none !important;
}

.header > .item {
    color: #fff;
    font-size: 28px;
}
.btn {
    width: 100%;
    border-radius: 28px;
}

#form {
    padding: 0 30px;
}

.check {
    float: left;
}

.tips {
    font-size: 13px;
    text-align: right;
    color: #409EFE;
    text-decoration: none;
}

.tips:hover {
    color: #3a8ee6;
}

/*CSS响应式布局*/
@media screen and (max-device-width: 500px){
    #main{
        margin-top: 45% !important;
    }
}
@media only screen and (max-width: 768px){
    #main{
        margin-top: 29% !important;
    }
}