.card-category > .el-card__header {
    background-color: #409EFF;
    font-size: 15px;
    color: #fff;
}

.card-tags > .el-card__header {
    background-color: #F56C6C;
    font-size: 15px;
    color: #fff;
}
.profile {

    display: flex;
    align-items: center;
    flex-direction: row;

}

.profile__img {

    padding: 5px;
    position: relative;

}

.profile__img img {

    max-width: 200px;
    border-radius: 2px;

}

img {

    vertical-align: middle;
    border-style: none;
}

.profile__img__edit {

    position: absolute;
    font-size: 1.2rem;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 30px;
    height: 30px;
    line-height: 29px !important;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;

}

.card > .actions, .card-header .actions {

    position: absolute;
    right: 40px;
    z-index: 2;
    top: 48px;

}

.profile__info {

    padding: 30px;

}

.icon-list {

    list-style: none;
    padding: 0;
    margin: 0;

}

.icon-list > li {

    position: relative;
    padding: 0.3rem 0;

}

.icon-list > li > i {

    width: 2.5rem;
    text-align: center;
    font-size: 1.0rem;
    top: 0.12rem;
    position: relative;
    margin-left: -0.5rem;

}

.modal-body {

    position: relative;
    flex: 1 1 auto;
    padding: 15px 30px;
    text-align: left;
}
.default_avatars_list {

    display: inline-block;

}
.row {

    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: -15px;
    flex-wrap: wrap;
    margin-left: -15px;
}
.default_avatars_list img {

    width: 11.3%;
    display: inline;
    margin: 1rem;
    border-radius: 3px;
    cursor: pointer;

}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.el-upload__text {
    padding-bottom: 50px;
    margin-top: -70px;
}
.avatar-uploader .el-upload {
    cursor: pointer;
}
.el-upload input[type="file"] {
    display: none !important;
}
.el-upload__input {
    display: none;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}