<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.biz.mapper.ArticleMapper">

    <select id="findByCategory" resultType="cn.tycoding.biz.entity.SysArticle">
        SELECT a.id, a.title, a.author, a.create_time
        FROM tb_article a,
             tb_category c,
             tb_article_category ac
        WHERE c.id = #{id}
          AND c.id = ac.category_id
          AND a.id = ac.article_id;
    </select>

    <select id="findByTag" resultType="cn.tycoding.biz.entity.SysArticle">
        SELECT a.id, a.title, a.author, a.create_time
        FROM tb_article a,
             tb_tag t,
             tb_article_tag at
        WHERE t.id = #{id}
          AND t.id = at.tag_id
          AND a.id = at.article_id;
    </select>

</mapper>
