<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.system.mapper.TagMapper">

    <select id="findByArticleId" parameterType="long" resultType="SysTag">
        SELECT * FROM tb_tag t, tb_article a, tb_article_tag ta
        WHERE t.id = ta.tag_id AND a.id = ta.article_id AND a.id = #{id}
    </select>

</mapper>
